header {
    background-color: #ffa500;
    height: 70px;
    margin: -8px;
    justify-content: space-between;
}

.header-logo {
    color: #ffffe0;
    font-size: 25px;
    margin: 25px;
}


.main {
    background-image:url("24249680_m.jpg");/*背景指定*/
    height: 510px;
    background-position: center;/*中央に表示*/
    margin: -8px;/*幅の調整*/
}


h2 {
    color: #ffffe0;
    font-size: 23px;
    margin: 0 -80px 75px;/*marginの上部を0に変更*/
    padding-top: 75px;/*代わりにpadding上部に余白を付与*/
    text-align: center;
    
}
h3 {
    color: #ffffe0;
    font-size: 23px;
    margin: 30px 10px;
    text-align: center;
}

p {
    color: #ffffe0;
    font-size: 19px;
    margin: 50px 0px 30px 0px;
    text-align: center;
}

.answer {
    color: #ffffe0;
    font-size: 25px;
    margin: 40px 0px 30px 0px;
    text-align: center;
}

form {
    color: #ffffe0;
    text-align: center;
}

small {
    margin: 15px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer { 
    background-color: #ffa500;
    height: 70px;
    margin: -8px;
    bottom: 0;
    padding: 0;
}